// OTHER COLORS
$app-white: #FBFBFB;
$app-brown: #523D3C;
$app-green: #3DBB3D;
$app-dark: #333333;
$app-purple: #851FDA;
$app-yellow: #FFC90E;
$white: #ffffff;

// BRAND PRIMARY
$brand-primary: #FA6909;


// BRAND SECONDARY
$brand-secondary: #B8B7B8;
$brand-secondary-100: #F0F4F7;
$brand-secondary-200:  #E6E6E3;

// BRAND INFO
$brand-info: #02049C;
$brand-info-100: #085BFD;


// TEXT COLORS
$text-color: #030303;
$text-white: $white;


// BRAND TONIC
$brand-tonic: #E50914;
$brand-tonic-100: #FF6060;
$brand-tonic-200: #FFCACA;